.navbar {
    background-color: #FFCCD5;
    height: 70px;
    width: 100%;
    border-bottom: dashed #FF4D6D 2px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.navbar .navbar-brand {
    color: #C9184A;
    font-family:cursive;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    left: 40px;
    top: 11px;
    float: left;
}
#cart {
    position: absolute;
    left: 900px;
    top:25px;
   
}
#task {
    position:absolute;
    left: 1030px;
    top:25px;
}
#profile {
    position: absolute;
    left: 1160px;
    top: 25px;
}
#logout{
    position: absolute;
    left: 1290px;
    top: 15px;
    border-radius: 15%;
    color: white;
    padding:8px;
    background-color: #C9184A;
}
.navbar .nav-link {
    color: rgb(11, 11, 10);
    text-decoration: none;
    margin-right:20px;
}

@media (max-width: 576px)
{
    .navbar .nav-link {
        margin-right: 0;
    }
}