.navbar {
    background-color:#FFB3C1;
    height: 70px;
    width: 100%;
    border-bottom: dashed #FF4D6D 2px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.navbar .navbar-brand {
    color: #C9184A;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    left: 40px;
    top: 15px;
    float: left;
}
#login {
    position: absolute;
    left: 1220px;
    top:17px;
    border-radius: 15%;
    color: white;
    padding:8px;
    background-color: #C9184A;
}
#register {
    position:absolute;
    left: 1300px;
    top:25px;
}
.navbar .nav-link {
    color: rgb(11, 11, 10);
    text-decoration: none;
    margin-right:20px;
}

@media (max-width: 576px)
{
    .navbar .nav-link {
        margin-right: 0;
    }
}